/*--- TAGS --*/

header {
    background-image: url(images/the-flatiron-building.png);
    color: white;
}

header h1 {
    font-size: 70px;
    font-weight: bold;
}

header p {
    font-size: 18px;
}

a {
    color: white;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

footer {
    text-align: left;
}

/*--- CLASSES ---*/

.container {
    font-family: Helvetica;
    text-align: center;
}

.foot-bar {
    background-color: dimgray;
}

.copy {
    color: white;
    font-size: 11px;
}

/*--- ID'S ---*/

#process h2 {
    font-size: 32px;
    font-weight: bold;
}

#work h1 {
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-image: url(images/the-flatiron-building.png);
}